.triangle {
        width: 13px;
        height: 20px;
        right: 60.5px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        background-color: #484848;
        margin-bottom: -20px;
        margin-left: -13px;
  }
  .b-triangle {
        width: 12px;
        height: 14px;
        right: 60px;
        -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 50%);
        clip-path: polygon(100% 100%, 100% 0%, 0% 50%);
        background-color: #484848;
  }
  li::marker 
  {
      font-size: 25px;
      font-weight: bolder;
      text-align: center;
      display: flex;
      align-items: center;
  }
  @media (max-width: 600px) {

  }  